html {
  height: 100%;
  width: 100%;
}

#wrapper {
  width: 80%;
  margin: auto;
  background-color: #FFFFFF;
}

header {
  width: 98%;
  margin: 1%;
  padding: 1%;
}
h1 {
  text-align: center;
}

nav {
  width: 100%;
  background-color: #2591F5;
  margin: 1%;
  padding: 1%;
}
#plaatje {
  width: 30%;
  background-color: red;
  float:right;
  margin: 1%;
  padding: 1%;
}
article {
  width: 60%;
  background-color:  #4D84F0;
  float:left;
  clear:both;
  margin: 1%;
  padding: 1%;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #5274DB;
  color: black;
  text-align: center;
  height: 70px;
  margin-top: 0;
  padding: 20px;
  font-size: 17px;
  }

  footer a{
     color:black;
    
   }
h4 {
  font-family: Arial;
   font-size: 9pt;
   color: white;
}