html {
  height: 100%;
  width: 100%;
}


#wrapper {
  width: 100%;
  margin: auto;
  padding: 0%;
  background-color: #2591F5;
}

header {
  width: 98%;
  margin: 1%;
  padding: 1%;
}
h1 {
  text-align: center;

}

nav {
  width: 98%;
  background-color: #2591F5;
  padding: 1%;
}
h3 {
  text-align: center;

}

body {
  background-color: rgba(0, 255, 255, 0.156);
}

.plaatjeRechts {
  position: absolute;
  width: 30%;
  margin: 1%;
  padding: 1%;
}

.plaatjeLinks {
  position: absolute;  
  width: 30%;
    margin: 1%;
    padding: 1%;
  }

  .plaatjeRechts2 {
    position: absolute;
    width: 30%;
    margin: 1%;
    padding: 1%;
    margin-right: 10%;
  }

  .plaatjeLinks2 {
    position: absolute;  
    width: 30%;
      margin: 1%;
      padding: 1%;
      margin-left: 12%;
    }

article {
  width: 60%;
  background-color:  #4D84F0;
  clear:both;
  margin: 1%;
  padding: 1%;
}

footer {
  width: 95,5%;
  background-color: #5274DB;
  color: black;
  text-align: center;
  height: 20px;
  margin-top: 0;
  padding: 20px;
  font-size: 17px;
  }

  footer a{
     color:black;
    
   }
h4 {
  font-family: Arial;
   font-size: 9pt;
   color: white;
}

.plaatje-1{
  float: left;
  padding: 100px;
} 